.navbar-container {
  min-height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #cbd0dd;
  width: 100%;
}

.navbar-top-element {
  width: 100%;
}

.navbar-inner-top-element {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.navbar-bottom-element {
  min-height: 40px;
  width: 100%;
}

.navbar-logo {
  height: 30px;
  width: 80px;
}

.navbar-title {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.025em;
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  justify-content: space-evenly;
  width: 100%;
  margin-left: 35px;
}

.navbar-menu li {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2px;
  transition: background-color 0.3s ease-in-out;
}

.navbar-menu li:hover {
  background-color: #e6e5e6;
}

.navbar-menu-toggle {
  border: 0;
  background-color: unset;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.navbar-menu-toggle i {
  font-size: 20px;
  color: #333;
}

.real-time-label {
  width: auto;
  height: auto;
  font-size: 9px;
  color: #F51500;
  text-align: center;
  animation: piscar 2.5s ease-in-out infinite;
}

.sair-topo {
  margin: 0 5px 0 5px;
  transition: transform 0.22s ease-in-out;
  height: 100%;
}

.sair-topo button {
  height: 100%;
}

.sair-topo:hover {
  transform: scale(1.12);
}

.ctcea-logo {
  width: 80px;
  height: auto;
}

.ccomgex-logo {
  width: auto;
  height: 80px;
}

.versao {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 400;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .navbar-inner-top-element {
    justify-content: space-between;
  }

  .navbar-logo {
    margin-left: 15px;
  }

  .navbar-title {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-logo {
    margin-left: 25px;
  }

  .navbar-title {
    margin-right: 25px;
    width: 250px;
  }

  .navbar-menu {
    margin-left: 0;
  }

  .navbar-menu li {
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 992px) {
  .navbar-container {
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: unset;
  }

  .navbar-inner-top-element {
    height: 70px;
  }

  .navbar-bottom-element {
    min-height: 50px;
    width: 100%;
  }

  .navbar-title {
    margin-right: 10px;
    width: 100px;
  }

  .navbar-menu li {
    padding: 3px 15px;
  }

  .navbar-logo {
    height: auto;
    width: 169px;
  }

  .navbar-title {
    font-size: 20px;
    font-weight: 800;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ctcea-logo {
    margin-right: 20px;
    width: 180px;
    height: auto;
  }

  .ccomgex-logo {
    width: auto;
    height: 90px;
  }

  .real-time-label {
    width: auto;
    height: 25px;
    margin-left: 9px;
    font-size: 18px;
    color: #F51500;
    animation: piscar 2.5s ease-in-out infinite;
  }
  
  .sair-topo {
    margin-right: 2%;
    margin-left: 15px;
    transition: transform 0.22s ease-in-out;
  }
  
  .sair-topo:hover {
    transform: scale(1.12);
  }
}

@media (min-width: 1200px) {
  .navbar-title {
    font-size: 31px;
  }
}

@media (min-width: 1700px) {
  .navbar-title {
    font-size: 35px;
  }

  .ccomgex-logo {
    height: 110px;
  }
}